body {
    display: flex; flex-direction: row;
    width: 96vw; height: auto;
    margin: 0 auto;
    background-color: chocolate;
}
/*========================== SUBNAV CSS ==========================*/

#subnav { display: none; }
#subnav a {
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat965.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat965.gif), auto !important;
}
.burger { display: none; }

/*========================== NAV CSS ==========================*/
nav a {
    width: 58%;
    margin: 5% auto; padding: 1% .5%;
    background-color: greenyellow;
    box-shadow: 5px 5px #d2c31e;
    border-radius: 5px;
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat953.cur), auto !important;
}
.avi {
    width: 80%; height: auto; padding-bottom: 19%;
    margin: 0 auto;
}
.avi img { 
    width: 95%; margin-left:auto; margin-right: auto;
    box-shadow: 15px 15px #d2c31e;
}

/*========================== ================ ==========================*/
.post {
    background-color: snow; margin: 0 auto;
    border-radius: 5px; overflow: hidden;
}
.post:hover {
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat966.ani), url(http://cur.cursors-4u.net/nature/nat-10/nat966.gif), auto !important;
}

/*========================== ================ ==========================*/

@media screen and (max-width: 500px) {
    body { display: flex; flex-direction: column; }
    nav { display: none; }
    #subnav { 
        display: flex; flex-direction: row;
        padding: 1% .5%; font-size: 250%;
    }
    #subnav a {
        padding: 8% 1%;
    }
    #subnav img { height: 75px; border-radius: 100%; }
    #right {
        width: 95vw; margin: 0 auto;
    }
    .post {
        width: 94%; height: 220px;
        margin-top: 15px;
    }
}

/*

    #D21E2D somebody lied to her
    🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔🤔
    🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡
*/

@media screen and (min-width: 501px) and (max-width: 850px) {
    #left { display: flex; width: 30%; }
    #right {  display: flex; flex-wrap: wrap; width: 70%; }
    nav { padding-top: 40%; }
    .post {
        width: 94%; height: 240px;
        margin-top: 15px;
    }
}
@media screen and (min-width: 851px) {
    #left { display: flex; width: 25%; }
    #right {  display: flex; flex-wrap: wrap; width: 75%; }
    nav { padding-top: 40%; }
    .post {
        width: 48%; min-height: 270px;
        margin-top: 15px;
    }
}
@media screen and (min-width: 1265px) {
    #left { display: flex; width: 20%; }
    #right {  display: flex; flex-wrap: wrap; width: 80%; }
    nav { padding-top: 18%; }
    .post {
        width: 23%; height: auto;
        margin-top: 15px;
    }
}